@model WebBookEventManager.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<h3 class="text-center">Upcoming events</h3>

<table class="table table-striped table-bordered" id="present-events">

    <thead>
        <tr>
            <th>Event</th>
            <th>Type</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<hr />

<h3 class="text-center">Past events</h3>
<table class="table table-striped table-bordered" id="past-events">

    <thead>
        <tr>
            <th>Event</th>
            <th>Type</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts{

    <script>
        $(document).ready(function () {
            $('#present-events').DataTable({
                ajax: {
                    url: '/api/events',
                    dataSrc: 'presentEvents',
                },
                columns: [
                    {
                        data: "title",
                        render: (data, type, model) => {
                            return `<a href='/events/detail/${model.id}'>${data}</a>`
                        }
                    },
                    {
                        data: 'type',
                        render: (data) => {
                            return data === 0 ? 'Public' : 'Private'
                        }
                    },
                    {
                        data: 'startTime',


                    }, {
                        data: 'date',
                        render: (date) => {
                            return new Date(date).toLocaleDateString();
                        }
                    }
                ]
            })
        })
        $(document).ready(function () {
            $('#past-events').DataTable({
                ajax: {
                    url: '/api/events',
                    dataSrc: 'pastEvents',
                },
                columns: [
                    {
                        data: "title",
                        render: (data, type, model) => {
                            return `<a href='/events/detail/${model.id}'>${data}</a>`
                        }
                    },

                    {
                        data: 'type',
                        render: (data) => {
                            return data === 0 ? 'Public' : 'Private'
                        }
                    },
                    {
                        data: 'startTime',

                    },
                    {
                        data: 'date',
                        render: (date) => {
                            return new Date(date).toLocaleDateString();
                        }
                    }
                ]
            })
        })
    </script>
}