@model WebBookEventManager.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (Model.Events.Count() == 0)
{
    <p>No Events</p>
}

<ul>
    @foreach (var item in Model.Events)
    {
        <li>@Html.ActionLink(item.Title, "Detail", "Events", new { id = item.Id}, null)</li>
    }
</ul>