@model WebBookEventManager.ViewModels.CommentViewModel

@{
    var m = Model;
}

<div class="d-flex flex-row comment-row m-t-0 rounded">
    <div class="comment-text w-100">
        <h6 class="font-medium"></h6>
        <span>@Model.Username</span><span class="text-muted text-right">@Model.Date.ToShortDateString()</span>

        <div class="comment-footer">

            @Model.Comment
        </div>
    </div>
</div> <!-- Comment Row -->