@model DTO.Comment.CommentDto

<div class="d-flex flex-row comment-row m-t-0 rounded">
    <div class="comment-text w-100">
        <h6 class="font-medium"></h6>
        <span class="m-b-15">@Model.Comment</span><span class="text-muted float-right">April 14, 2019</span>
        
        <div class="comment-footer">


        </div>
    </div>
</div> <!-- Comment Row -->