@model DTO.Events.EventDto
@{ 
    var Event = Model;
}


<div class="card " style="width: 18rem;">
    <div class="card-header">
        <h6 class="card-title">@Html.ActionLink(Event.Title, "Detail", "Events", new { id = Event.Id }, null)</h6>
    </div>
    <div class="card-body">
        <p>Start Time: @Event.StartTime</p>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Edit", "Detail", "Events", new { id = Event.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Detail", "Events", new { id = Event.Id }, new { @class = "btn btn-success" })
    </div>
</div>
